*.py[cod]
*.egg-info/
.pytest_cache/
.ruff_cache/
.mypy_cache/
.venv/
venv/
build/
dist/
dist/
build/
*.egg-info/
*.pyc
.env
*.txt
venv/
.venv/.env
*.py[cod]
*.sqlite3
.venv/
staticfiles/
*.zip
_build/